<h2><%= l(:label_template_new) %></h2>

<%= labelled_form_for  @mitemplate, :as => :mitemplate , :url => {:action => 'new',:project_id => @project_id}, :html => {:method => :post, :multipart => false, :id => 'template_form'} do |f| %>
<div class="box tabular">
<p>
<%= f.text_field :name, :size => 30, :required => true %></p>
<p>
<%= f.text_area :text, :cols => 100, :rows => 25, :class => 'wiki-edit', :accesskey => accesskey(:edit) %></p>
<p><%= f.check_box :visible_children %></p>
<%= wikitoolbar_for 'mitemplate_text' %></div>
<%= submit_tag l(:button_create) %>
<% end %>

