<h2><%=@mitemplate.name%></h2>
<%= form_for @mitemplate, :as => :mitemplate,
            :url => {:action => 'edit', :project_id => @project_id},
            :html => {:method => :post, :multipart => false, :id => 'template_form'} do |f| %>
<div class="box tabular">
<%= f.text_field :name, :size => 30, :required => true %>
<%= text_area_tag 'mitemplate[text]', @mitemplate.text, :cols => 100, :rows => 25,
                  :class => 'wiki-edit', :accesskey => accesskey(:edit) %>
<%= wikitoolbar_for 'mitemplate_text' %></div>
<%= submit_tag l(:button_save) %>
<% end %>

